*{
    padding: 0%;
    margin: 0%;
    /* border: 1px solid red; */
}
body{
    background-color: black;
}
a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}


/*?HEADER*/
#juanse-header{
    width: 100%;
}
.enlace{
    width: 33%;
    font-family: rubik;
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 65%;
    top: 80px;
}

#logo-juanse{
   position: absolute;
   left: 10px;
   top: 9%;
}
/*?FIN HEADER*/

/*TODO: index.html*/

/*!MAIN*/

/*JUANSE X HONKY TONK*/
#textRemeras{
    padding-top: 30px;
    width: 100%;
    color: white;
    font-family: Rubik;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    border-top: 2px solid rgb(70, 70, 70);
    border-bottom: 2px solid rgb(70, 70, 70);
    margin-top: 10px;
    margin-bottom: 10px;
}

#textRemeras:hover{
    transform: scale(1.1);
    transition: all 0.50s;
}

.center-honky{
    display: flex;
    justify-content: center;
}

.remeras{
    display: flex;
    justify-content: space-around;
}

.remeras img:hover{
    transform: scale(1.1);
    transition: all 0.50s;
}



/*FIN JUANSE X HONKY TONK*/

/*PROXIMOS SHOWS*/
.brand-container img{
    padding-top: 40px;
    width: 100%;
}
/*FIN PROXIMOS SHOWS*/

/*DISCOGRAFIA*/
.discos{
    display: flex;
    justify-content: space-around;
    padding-top: 20px ;
   
}

.discos img{
    transition: all 0.8s ease;
}

.discos img:hover{
    transform: scale(1.1);
    transition: all 0.50s;  
    filter: grayscale(1);
    transition: all 0.6s ease;

    
}

#discografia{
    padding-top: 30px;
    width: 100%;
    color: white;
    font-family: Rubik;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    border-top: 2px solid rgb(70, 70, 70);
    border-bottom: 2px solid rgb(70, 70, 70);  
    margin-bottom: 10px;
    margin-top: 10px;
}

#discografia:hover{
    transform: scale(1.1);
    transition: all 0.50s;
}

.center-discografia{
    display: flex;
    justify-content: center;
}

/*DOCUMENTAL*/
#logo-rocanrol{
    display: flex;
    justify-content: center;
}

#poster{
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

#text-poster{
    color: white;
    font-family: rubik;
    justify-content: center;
    display: flex;
    margin: 50px 400px;
    font-size: 25px;
}
/*FIN DOCUMENTAL*/

/*!FIN MAIN*/

/** FOOTER*/
.fondo-footer{
    width: 100%;
    margin-bottom: 0%;
}

.red-social{
    display: flex;
    justify-content: center;
}

.red-social li{
    display: inline-block;
    margin: 0 80px;
    width: 50px;
    height: 50px;
    text-align: center;
}

.red-social li a{
    display: block;
    padding: 0 10px;
    line-height: 50px;
    font-size: 40px;
}

.red-social li a:hover{
    transform: translateY(-3px) scale(1.05);
}
/*iconos sueltos*/
.facebook{
    color: #3b5998;
}

.twitter{
    color: #56cefd ; 
}

.youtube{
  color:#c4302b ;  
}

.instagram{
    color: #8a3ab9 ;
}

.spotify{
    color: #2be36b;
}
/*fin iconos sueltos*/

.red-social{
    position: relative;
    bottom: 200px;
}

/**FIN FOOTER*/

/*TODO: shows.html*/

/*!MAIN*/

/*SHOWS*/



.shows{
    color: white;
    font-family: rubik;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-bottom: 2px solid rgb(70, 70, 70);
    border-top: 2px solid rgb(70, 70, 70);
    padding: 40px 0px;
}

.shows button{
    color: white;
    font-family: rubik;
    font-size: 20px;
    background-color: black;
    border-bottom: 2px solid rgb(70, 70, 70);
    border-top: 2px solid rgb(70, 70, 70);
    padding: 30px;
}

.shows button:hover{
        transform: scale(1.1);
        transition: all 0.50s;
}

.shows-container{
    margin-bottom: 100px;
}

/*!FIN MAIN*/

/*FIN SHOWS*/


/*TODO: discografia.html*/

/*!MAIN*/

.tapas-container img{
    height: 400px;
}

.discos p{
    color: white;
    font-family: rubik;
    font-size: 20px;
    padding-top: 4px;
}

.text-discos{
    padding-top: 10px;
}

.text-discos p{
    padding-left: 10px;
}

#euforica{
    border-left: 3px solid rgb(70, 70, 70);
}


.titulo{
    color: white;
    font-family: rubik;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 10px;
}

.año{
    color: white;
    font-family: rubik;
    display: flex;
    justify-content: center;
    padding-top: 2px;
    padding-bottom: 5px;
}


/*DISCOS SUELTOS*/
.juanito{
    padding-top: 40px;
}
.biograma{
    padding-top: 40px;
}

.stereoma{
    padding-top: 40px;
}

.biblia{
    padding-top: 40px;
}

.pappo{
    padding-top: 40px;
}

.rock{
    padding-top: 40px;
}

.baldios{
    padding-top: 40px;
}

.energia{
    padding-top: 40px;
}

.expreso{
    padding-top: 40px;
    padding-bottom: 40px;
}

/*FIN DISCOS SUELTOS*/




















